<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>邀请函</title>

    <link rel='stylesheet' href='/css/swiper.min.css'/>
    <link rel='stylesheet' href='/css/animate.min.css'/>
    <link rel='stylesheet' href='/css/public.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img id="bg_up" class="ani" swiper-animate-effect="slideInDown" swiper-animate-duration="0.5s"
                 swiper-animate-delay="0s" src="/img/imgs_01/3cd86c26-5d80-4a80-9083-78d7d33c7368-9678.png"/>
            <img id="i1" class="ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s"
                 swiper-animate-delay="0.5s" src="/img/imgs_01/4c898ab9-1412-4f15-a7f7-994ce6159988-7989.png"/>
            <img id="i2" class="ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.5s"
                 swiper-animate-delay="0.5s" src="/img/imgs_01/4c898ab9-1412-4f15-a7f7-994ce6159988-7989.png"/>
            <img id="i3" class="ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s"
                 swiper-animate-delay="1s" src="/img/imgs_01/8b1229bd-a5a6-43e9-973c-bf2fb00dabc2-4191.png"/>
            <h3 class="ani" swiper-animate-effect="fadeInLeftBig" swiper-animate-duration="0.5s"
                swiper-animate-delay="0.5s">INVITATION</h3>
            <p class="ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="1s"
               id="year">2016</p>
            <p class="ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.2s"
               id="title">第五期 "导师大讲堂"</p>
            <img id="i4" class="ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s"
                 swiper-animate-delay="1.4s" src="/img/imgs_01/9d40b382-6151-489a-96b9-714213aee9f1-9775 (2).png"/>
            <div id="time1" class="ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.5s"
                 swiper-animate-delay="1.6s">2016年7月25日
            </div>
            <div id="dizhi1" class="ani" swiper-animate-effect="z_shangHua" swiper-animate-duration="0.5s"
                 swiper-animate-delay="1.8s">北京银行中关村小巨人创客中心
            </div>
            <img id="i5" class="ani" swiper-animate-effect="z_shangHua_repeat" swiper-animate-duration="4s"
                 swiper-animate-delay="0s" src="/img/imgs_01/fae81aa4-fc2e-466d-aea4-5fbff9299792-5736.png"/>
        </div>
        <!----------------------------第二页------------------------------------------->
        <div class="swiper-slide">
            <img id="bg_up_2" class="ani" swiper-animate-effect="slideInDown" swiper-animate-duration="0.5s"
                 swiper-animate-delay="0s" src="/img/imgs_01/f6e9e2e5-163e-4d24-a636-bf265c07bc22-3440.png"/>
            <img id="i2_2" class="ani" swiper-animate-effect="zoomInDown" swiper-animate-duration="0.5s"
                 swiper-animate-delay="0.3s" src="/img/imgs_01/aa1c9d3d-70e3-4032-90a1-cd11e86194cb-7563.png"/>
            <img id="i3_2" class="ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s"
                 swiper-animate-delay="0.5s" src="/img/imgs_01/4c898ab9-1412-4f15-a7f7-994ce6159988-7989.png"/>
            <img id="i4_2" class="ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.5s"
                 swiper-animate-delay="0.5s" src="/img/imgs_01/4c898ab9-1412-4f15-a7f7-994ce6159988-7989.png"/>
            <h3 class="ani" swiper-animate-effect="fadeInLeftBig" swiper-animate-duration="0.5s"
                swiper-animate-delay="0.5s">PROJECT INTRODUCTION</h3>
            <img id="i5_2" class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="0.5s"
                 swiper-animate-delay="0.8s" src="/img/imgs_01/57d83bc1-348a-46c4-8fbd-fc7ce8404fcb-2857.png"/>
            <p id="p1_2" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s"
               swiper-animate-delay="1s">亲爱的创业企业：</p>
            <p id="p2_2" class="ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s"
               swiper-animate-delay="1s"> &nbsp; &nbsp;北京银行中关村小巨人创客中心已于2015年6月18日正式成立，成为北京银行积极探索银行支持小微企业创新创业的新模式和新途径。作为首家银行机构创办的创客中心，该中心实行免费机制，以投贷联动为重点，旨在搭建一个创业孵化、跨界合作、分享共赢的平台，满足企业成长过程中的多方面需求，协助企业提升自身价值，与广大创业企业实现共同成长。</p>
            <p id="p3_2">创业孵化</p>
            <p id="p4_2">跨界合作</p>


            <img id="i6" class="ani" swiper-animate-effect="z_shangHua_repeat" swiper-animate-duration="4s"
                 swiper-animate-delay="1.2s" src="/img/imgs_01/fae81aa4-fc2e-466d-aea4-5fbff9299792-5736.png"/>
        </div>
        <!----------------------------第三页------------------------------------------->
        <div class="swiper-slide">

        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>

</div>


</body>
</html>


<script src="/js/swiper.min.js"></script>
<script src="/js/swiper.animate1.0.2.min.js"></script>
<script src="/js/rem.js"></script>
<script>
    //-----------------滑动---------------------------------
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        loop: false,


        pagination: '.swiper-pagination',// 如果需要分页器
        paginationType: 'progress',
//-----------------动画---------------------------------
        onInit: function (swiper) { //Swiper2.x的初始化是onFirstInit
            swiperAnimateCache(swiper); //隐藏动画元素
            swiperAnimate(swiper); //初始化完成开始动画
        },
        onSlideChangeEnd: function (swiper) {
            swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
        }
    });


</script>
