@charset "UTF-8";

/* ------------------------自定义动画---------------------------------- */

@-webkit-keyframes z_shangHua {
  0% {
    -webkit-top: 5.2rem;
    top: 5.2rem;
    opacity: 0;
  }
  100% {

    -webkit-top: 4.2rem;
    top: 4.2rem;
    opacity: 1;
  }
}

@keyframes z_shangHua {
  0% {
    -webkit-top: 5.2rem;
    top: 5.2rem;
    opacity: 0;
  }

  100% {

    -webkit-top: 4.2rem;
    top: 4.2rem;
    opacity: 1;
  }
}

.z_shangHua {
  -webkit-animation-name: z_shangHua;
  animation-name: z_shangHua;
}

/* ---------------------------------------------------------- */
@keyframes z_shangHua_repeat {
  0% {
    transform: translateY(0.47rem);
  }
  30% {
    transform: translateY(0.27rem);
  }
  60% {
    transform: translateY(0rem);
  }
  80% {
    transform: translateY(0.27rem);
  }
  100% {
    transform: translateY(0.47rem);

  }
}

.z_shangHua_repeat {

  animation-name: z_shangHua_repeat;
}

/* ---------------------------------------------------------- */
html, body {
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  background: #fff;
  position: relative;
}

.swiper-slide:nth-child(1) #bg_up {
  width: 3.2rem;
}

.swiper-slide:nth-child(1) #i1 {
  position: absolute;
  z-index: 2;
  top: 0.9rem;
  left: 0;
  width: 1.5rem;
}

.swiper-slide:nth-child(1) #i2 {
  position: absolute;
  z-index: 2;
  top: 0.7rem;
  right: 0;
  width: 0.98rem;
  height: 0.11rem;
}

.swiper-slide:nth-child(1) #i3 {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 0.48rem;
  width: 2.25rem;
}

.swiper-slide:nth-child(1) h3 {
  position: absolute;
  z-index: 2;
  top: 0.7rem;
  left: 1.23rem;
  font: 0.12rem/0.12rem "";
}

.swiper-slide:nth-child(1) #year {
  position: absolute;
  z-index: 2;
  top: 1.74rem;
  left: 1.3rem;
  font: 0.25rem/0.25rem "";
}

.swiper-slide:nth-child(1) #title {
  position: absolute;
  z-index: 2;
  top: 2.05rem;
  left: 0.96rem;
  font: 0.15rem/0.15rem "";
}

.swiper-slide:nth-child(1) #i4 {
  position: absolute;
  z-index: 2;
  top: 2.28rem;
  left: 1rem;
  width: 1.2rem;
}

.swiper-slide:nth-child(1) #time1 {
  position: absolute;
  z-index: 2;
  top: 3.66rem;
  left: 0.9rem;
  width: 1.4rem;
  height: 0.4rem;
  border: 0.02rem solid #666666;
  font: 0.16rem/0.4rem "";
  text-align: center;
}

.swiper-slide:nth-child(1) #dizhi1 {

  position: absolute;
  z-index: 2;
  top: 4.2rem;
  left: 0.8rem;
  font: 0.12rem/0.12rem "";
}

.swiper-slide:nth-child(1){
  #i5{
    animation: z_shangHua_repeat linear infinite;
    position: absolute;
    z-index: 2;
    top: 4.12rem;
    left: 0rem;
    width: 100%;
  }
}

.swiper-slide:nth-child(2){
  position:relative;
  #bg_up_2{
    width: 3.2rem;
  }

  #i6{
    animation: z_shangHua_repeat linear infinite;
    position: absolute;
    z-index: 2;
    top: 4.12rem;
    left: 0rem;
    width: 100%;
  }
  #i2_2{
    position: absolute;
    z-index: 2;
    top: 0.32rem;
    left: 0.15rem;
    width: 0.6rem;
  }
  #i3_2 {
    position: absolute;
    z-index: 2;
    top: 0.9rem;
    left: 0;
    width: 1.5rem;
  }

  #i4_2 {
    position: absolute;
    z-index: 2;
    top: 0.7rem;
    right: 0;
    width: 0.98rem;
    height: 0.11rem;
  }
  h3 {
    position: absolute;
    z-index: 2;
    top: 0.7rem;
    left: 0.66rem;
    font: 0.12rem/0.12rem "";
  }
  #i5_2{
    position: absolute;
    z-index: 2;
    top: 1.26rem;
    left:0.55rem;

    width: 2.15rem;
  }
  #p1_2{
    position: absolute;
    z-index: 2;
    top: 1.42rem;
    left:0.68rem;
    font: 0.12rem/0.12rem "";
    width: 2.15rem;
  }
  #p2_2{
    position: absolute;
    z-index: 2;
    top: 1.64rem;
    left:0.75rem;

    font: 0.12rem/0.16rem "";
    width: 1.78rem;

  }
}